<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="../static/style.css" rel="stylesheet">
	<script src="../static/script.js"></script>
</head>

<body>
	<h1 id="username"></h1>
	<p>teh task </p>

	<script>
		let username = sessionStorage.getItem("username");
		console.log(username);
		const h1 = document.querySelector("#username");
		h1.textContent = username;
	</script>
</body>

</html>
