<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="../static/style.css" rel="stylesheet">
	<script src="../static/script.js"></script>
</head>

<body>
	<form id="loginForm" method=post onsubmit="login(event)">
		<p>username</p>
		<input type="text" id="username" name="username">
		<p>passord</p>
		<input type="text" id="password" name="password">
		<button type="submit">Submit</button>
	</form>

</body>

</html>
